
.result{
	padding: 20px;
}


.sorta {
	float: right;
}

.result_section{
	text-align: left;
	background-color: white;
	width: 400px;
	padding: 8px;
	border: 1px solid gray;
	display: none;
}
.section_title{
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 7px;
	background: linear-gradient(white, #C0C0C0);
	-webkit-margin-after: 0em;
	width: 402px;
}

.section_title:hover {
	background: linear-gradient(#909090, #606060);
}
.section_selected{
	background: linear-gradient(#909090, #606060);
}

.font_r{
	border: 1px solid gray;
	margin-top: 10px;
	padding: 5px;
	font-size: 18px;
	overflow: hidden;
	
}

.show{
	border: 1px solid gray;
	width: 120px;
	height: 35px;
	margin-bottom: 5px;
	margin-right: 8px;
	display: inline-block;
	line-height: 35px;
	text-align: center;
	
}

.label{
	float: left;
	color: #000066;

}

body {
	background-color: #F0F0F0;
}