/*pop up css*/

/* Overlay */
.simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
.simplemodal-container {height:460px; width:500px; color:black; background-color:#E8E8E8; border:4px solid #444; padding:12px; margin-top: 15px;}
.simplemodal-container .simplemodal-data {padding:20px; font-size: 14px;}
.simplemodal-container a.modalCloseImg {background:url('chrome-extension://dcmjlpbnicilolgiigikknheogjgppnb/images/x.png') no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
.simplemodal-container h3 {color:#484848;}

.result{
	padding: 20px;
}
.wrong {
	float: left;
}

.sorta {
	float: right;
}

.show{
	border: 1px solid black;
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
}